doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PiedTeam
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  body
    include ./layout/Header.pug
    include ./layout/About Us.pug
    include ./layout/Photo.pug
    include ./layout/Mac.pug
    include ./layout/Opinions.pug
    include ./layout/Our Services.pug
    include ./layout/Team.pug
    include ./layout/Pricing.pug
    include ./layout/Map.pug
    include ./layout/Try  Our Template.pug
    include ./layout/Footer.pug
    include ./layout/BG.pug
    //- h1 ahihi
    //- img(src="./../img/bg-login.jpg", alt="", srcset="")
    noscript  PiedTeam
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splidejs@4.0.7/dist/js/splide.min.js"></script> 
    script(src='../bundle.js')
